# Ambiente virtual
venv/
.venv/

# Dados
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Credenciais
.env
kaggle.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
